@charset "UTF-8";
/*mobile css reset*/
body,div,ul,ol,li,img,p,dl,dt,dd,a,span,input,h1,h2,h3,h4,h5,h6,table,th,tr,td,::before,::after,header,nav,section,footer{margin: 0;padding: 0;box-sizing: border-box;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;/*元素以边框开始计算宽度 百分百布局防止溢出*/}
body{font-size: 14px!important;text-align: justify;font-family: Helvetica,Tahoma,Arial,sans-serif;}
a{text-decoration: none;color: #FF7200;}
img{border: 0;display:inline-block;}
ul{overflow: hidden;list-style: none;}
table {border-collapse:collapse;border-spacing:0;}
input{border: 0;outline: none;-webkit-appearance:none;-moz-appearance:none;appearance:none;/*清除元素外观样式*/}
input,a,button{tap-highlight-color: transparent;-webkit-tap-highlight-color: transparent;-moz-tap-highlight-color: transparent;/*去除点击高亮效果*/}

/*移动端适配 width|height|font-size = 视觉稿量出来的值 / 100rem;*/
@media screen and (max-width:359px) and (min-width:320px) {
    html{
        font-size: 50px !important;
    }
}
@media screen and (max-width:374px) and (min-width:360px) {
    html{
        font-size: 56.25px !important;
    }
}
@media screen and (max-width:413px) and (min-width:375px) {
   html{
        font-size: 58.5px !important;
    }
}
@media screen and (max-width:639px)  and (min-width:414px){
   html{
        font-size: 64.6px !important;
    }
}@media screen and (min-width:640px) {
   html{
        font-size: 100px !important;
    }
}